<div class="content-layout">
    <div class="content-layout__header">
        <img src="../../../../assets/images/avatars/Abbott.jpg" alt="profile">
        <h3>Ashan Perera</h3>
    </div>
    <div class="content-layout__body">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Email" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" disabled>
        </mat-form-field>
    </div>
    <div class="content-layout__btn-panel">
        <button mat-raised-button color="primary">Update</button>
    </div>
</div>