@import '../../../../styles/mixins';

.join-group{
    &__form{
        padding: 3rem;
        height: 100%;
        @include respond(phone){
            -webkit-box-shadow: none;
            -moz-box-shadow: none;          
             box-shadow: none;
         }

        &__header{
            font-size: 2rem;
            text-decoration: underline;
        }
    }
    
    &__grid{
        padding-top: 2rem;
     }
}